<html>
<head>
<title>Flask Tutorial</title>
</head>
<body>
    <form method="post", action = "http://localhost:8081/">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Email" name="email" required>  
            <br>
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button> 
        </div>   
    </form>     
</body>
</html> 